<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Builder Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../js/models/Building.js"></script>
    <script src="../../js/models/Citizen.js"></script>
    <script src="../../js/models/City.js"></script>
    <script src="../../js/models/CommercialBuilding.js"></script>
    <script src="../../js/models/Grid.js"></script>
    <script src="../../js/models/IndustrialBuilding.js"></script>
    <script src="../../js/models/Map.js"></script>
    <script src="../../js/models/Park.js"></script>
    <script src="../../js/models/ResidentialBuilding.js"></script>
    <script src="../../js/models/Road.js"></script>
    <script src="../../js/models/ServiceBuilding.js"></script>
    <script src="../../js/models/UtilityPlant.js"></script>
    <script src="../../js/managers/BuildingManager.js"></script>
    <script src="../../js/managers/CitizenManager.js"></script>
    <script src="../../js/managers/ResourceManager.js"></script>
</head>

<body>
    <script>
        let myCity = new City("NeoCode", "Jero", 1000, 800);

        // Crear ciudadanos
        const c1 = new Citizen(1, "Ana", 22);
        const c2 = new Citizen(2, "Carlos", 30);

        // Agregarlos a la ciudad
        myCity.citizenManager.addCitizen(c1);
        myCity.citizenManager.addCitizen(c2);

        // Crear edificios
        const b1 = new ResidentialBuilding(1, "Torre Central", "Residencial");
        const b2 = new CommercialBuilding(2, "Centro Comercial JS", "Comercial");

        // Agregarlos
        myCity.buildingManager.addBuilding(b1);
        myCity.buildingManager.addBuilding(b2);

        // ====== TESTS ======
        console.log("Ciudad:", myCity.name);
        console.log("Alcalde:", myCity.mayor);
        console.log("Total ciudadanos:", myCity.population);
        console.log("Total edificios:", myCity.buildings);
        console.log("Lista ciudadanos:", myCity.citizenManager.population);
        console.log("Lista edificios:", myCity.buildingManager.buildings);
    </script>
    <div class="title">
        <h1 id="game-title">CITY BUILDER GAME</h1>
    </div>
    <div class="options">
        <label for="">
            <button class="btn btn-primary">Cargar partida</button>
        </label>
    </div>
</body>

</html>