@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Rajdhani:wght@500;600&display=swap');

#game-title{
    font-family: 'Orbitron', sans-serif;
}

#header{
    background-image: url('../../assets/Gemini_Generated_Image_8cjzpw8cjzpw8cjz.png');
    background-position: 50%;
}