.screen {
    display: none;
}

.screen.active {
    display: block;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
}

#initial-page.active {
    background-image: url('../../assets/FondoInicio.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

#load-game-page {
    background-image: url('../../assets/FondoCargarBorrar.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

#delete-game-page {
    background-image: url('../../assets/FondoCargarBorrar.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

#game-info-page{
    background-image: url('../../assets/FondoCargarBorrar.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#city-info-page {
    background-image: url('../../assets/FondoMenu.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#game-page {
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
}